/*Reset Css*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/*Generic Css*/
h1{font-size:60px;color: #fff;font-family:Segoe_UI_Bold;}
h3{font-size: 24px;color:#df2229;font-family:Segoe_UI_Bold; }
h4{font-size: 20px;color: #fff;font-family:Segoe_UI_Bold;}
p{font-size: 16px;color: #fff;font-family:Segoe_UI;}
.container{width: 1170px;margin: 0 auto;}
.clear{clear: both;}
.border{border:1px solid #df2229;width: 22%;margin-top: 10px;}
/*Font-face*/
@font-face{src:url(../fonts/Segoe_UI.woff);font-family:Segoe_UI;}
@font-face{src:url(../fonts/Segoe_UI.woff);font-family:Segoe_UI_Bold;}
/*Base Css*/
/*Header section*/
.header{background-color: #df2229;}
.header .logo{float: left;margin: 10px 0 0 22px;}
.header .nav{float: right;margin: 33px 30px 20px 0;}
.header .nav ul{list-style: none;}
.header .nav li{display:inline-block;margin-left: 20px;}
.header .nav a:hover{background-color: #000;}
.header .nav li a{color: #fff;font-size: 20px;text-decoration: none;padding: 10px;font-family:Segoe_UI;}
.header button{font-size:20px;border: none;background-color: #fff;color: #df2229;padding: 10px 20px;font-family:Segoe_UI;}
/*Banner Ssection*/
.banner{background: url(../img/banner.png) no-repeat; background-size:cover;border: 1px solid transparent;}
.banner .container h1{margin:88px 0 10px 50px;}
.border{border:1px solid #df2229;width: 20%;margin: 0 0 66px 50px;}
/*Main Section*/
.main{background-color: #d7d7d7;border:1px solid transparent;}
.main .container .main_sec1{margin: 75px 0 0 50px;max-width: 63%;float: left;}
.main .main_sec1 .gal1{text-align:center;max-width: 340px;float: left;margin-right: 24px;margin-bottom: 48px;}
.main .main_sec1 .gal1 img{margin-bottom: 14px;}
.main .main_sec1 .gal1 button{background-color: #fff;color: #df2229;padding:10px 30px;border: none;font-family:Segoe_UI_Bold;}
.main .main_sec1 .gal1 button:hover{background-color: #df2229;color: #fff;}
.main .main_sec2{width:332px;margin: 75px 50px 20px 0;float: left;}
.main .main_sec2 h3{text-align: center;margin-bottom: 10px;}
.main .main_sec2 form{margin-bottom:24px;width: 330px;background-color: #000;border: 1px solid transparent;padding-top: 20px;}
.main .main_sec2 .suscribe form label{margin: 20px;color: #fff;font-size:22px ;font-family:Segoe_UI_Bold;}
.main .main_sec2 .suscribe form input{margin: 20px;width: 87%;height: 46px;background-color: #262626;border: none;}
.main .main_sec2 .suscribe form button{margin: 30px 81px;background-color: #df2229;border: none;color: #fff;padding:15px 50px; font-family:Segoe_UI_Bold;}
.main .main-sec2 .latest_image img{width: 300px;margin-top: 10px;}
/*Footer1 Section*/
.footer1{background-color: #232323;}
.footer1 p,.footer1 ul{margin-top: 35px;text-align: justify;}
.footer1 .footer1_about{max-width:340px;margin: 30px 24px 40px 70px;float: left;}
.footer1 .footer1_links{max-width:340px;margin: 30px 70px 40px;float: left;}
.footer1 .footer1_contact{max-width:340px;margin: 30px 60px 40px;float: left;}
.footer1 .footer1_links ul li{margin: 20px 0;}
.footer1 .footer1_links ul li a{color: #fff;text-decoration: none;}
.footer1 .footer1_links ul li a:hover{color:#df2229;}
/*Footer2 section*/
.footer2{background-color: #000;border:1px solid transparent;}
.footer2 p{margin-top:20px ;margin-bottom:20px ;text-align: center;}
.footer2 span{color: #df2229;}
/*About Section*/
.about{margin: 130px 0 100px;}
.about p{color: #000;line-height: 24px;font-family:Segoe_UI;}
.about .abt_img{max-width: 390px;float: left;}
.about .abt_img2{max-width: 390px;float: left;margin-left:24px;}
.about .abt_para{max-width:756px;float: left;margin-left:24px;}
.about .abt_para2{max-width:756px;float: left;}
.about .para_middle{margin:40px 0 ;}
/*Feedback Section*/
.feedback{margin:68px 50px;background: url(../img/feedback_background.png) no-repeat;background-size: cover;max-width: 990px;padding: 40px;}
.feedback .feedback_header{font-family:Segoe_UI_Bold;font-size:24px;margin: 0 auto;background-color:#93252a ;color: #fff;max-width: 750px;padding: 30px 0;text-align: center;}
.feedback form input[type="text"]{margin: 50px 15px 0 35px;width: 412px;height: 20px;background-color:#9c9c9d ;border: none;padding: 10px;}
.feedback form input[type="email"]{margin: 50px 15px 0 35px;width: 412px;height: 20px;background-color:#9c9c9d ;border: none;padding: 10px;}
.feedback form{color: #fff;font-size: 20px;}
.feedback form p{margin: 50px 35px 30px;font-family:Segoe_UI;}
.feedback form label{margin-left:30px;}
.feedback form textarea{width: 950px;height: 170px;background-color:#9c9c9d;margin-left: 30px;}
.feedback form button{padding: 20px 90px; ;background-color:#8f2027 ;color: #fff;border: none;margin:40px 0 0 358px;text-align: right;font-size: 22px;font-family:Segoe_UI_Bold; }
/*Contact Section*/
.contact{margin: 100px 50px;max-width:1070px;}
.contact .contact_head{width: 35%;background-color: #000;float: left;padding:112px 0;}
.contact .contact_form{width: 55%;background-color: #616161;float: left;border: 1px solid transparent;padding:50px;}
.contact form{color: #fff;font-size:20px ;font-family:Segoe_UI_Bold;}
.contact form input,.contact form textarea{margin: 30px 0;padding: 15px;background-color:#434343 ;border: none;width:90%;}
.contact form button{background-color:#ba3439 ;padding: 15px 40px;color: #fff;border: 0;margin: 0 230px;font-size: 20px;}